* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 3px 2px;
    line-height: 1.2;
    background: #001018;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

body.day {
    background: #fff;
    color: #001018;

}

/* Utility */ 

.container {
    max-width: 1250px;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
}

body.day span {
    color: #00B0DC;
}


/* Main Header */

#main-header {
    overflow: hidden;
    position: relative;
    margin-bottom: 17rem;
}

/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0; 
}

.logo img {
    width: 70px;
    transition: all 1s ease-in;
    cursor: pointer;
}

.logo img:hover {
    transform: rotate(620deg);
}

.nav-content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255, 254, 254, 0.027),
                                                rgba(242, 248, 244, 0.171),
                                                rgba(255, 254, 254, 0.027));
    padding: 2rem 1rem;
    border-radius: 20rem;
    transition: all .3s ease-in;
}

.nav-content ul:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}



.nav-content ul li {
    margin: 0 2rem;
}

.nav-content ul li a {
    color: #fff;
    transition: all .5s ease-in;
}

body.day .nav-content ul li a {
    color: #001018;
}

.nav-content ul li a:hover {
    color: #333;
}

body.day .nav-content ul li a:hover {
    color: #fff;
}

.toggle {
    border: 2px solid #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 17%;
    left: 7%;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    transition: .5s;
}

.toggle.active::before {
    left: 37px;
}

.toggle.toggler-color {
    border: 2px solid #001018;
}

.toggle.toggler-color::before {
    background: #001018;
}

/* Header Content */ 

.header-content {
    text-align: center;
    margin-top: 15rem;
}


.header-content h1 {
    font-size: 6rem;
}

body.day .header-content {
    color: #001018;
}

.header-content p {
    margin-top: 3rem;
    transition: all .4s ease-in;
    font-size: 1.4rem;
    letter-spacing: 1rem;
    animation: header-p 2s ease-in;
}

@keyframes header-p {
    0% {
        transform: translateX(100rem);
    }

    50% {
        letter-spacing: 3rem;
    }

    100% {
        transform: translateX(0);
    }
    
}

.header-content i {
    margin-top: 3rem;
    border: 3px solid #fff;
    padding: 1.7rem .75rem;
    border-radius: 20rem;
}

body.day .header-content i {
    color: #001018;
    border: 3px solid #001018;
}

/* BUBBLE */

.bubble img {
    opacity: 0;
}

body.day .bubble img {
    width: 50px;
    animation: bubble 7s linear infinite;
  }

  .bubble {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
  }

  body.day .bubble {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
  }
  
  @keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    70% {
      opacity: 1;
    }
  
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  
  body.day .bubble img:nth-child(1) {
    animation-delay: 1.6s;
    width: 100px;
  }
  
  body.day .bubble img:nth-child(2) {
    animation-delay: 2.7s;
  }
  
  body.day .bubble img:nth-child(3) {
    animation-delay: 4s;
  }
  
  body.day .bubble img:nth-child(4) {
    animation-delay: 3s;
    width: 30px;
  }
  
  body.day .bubble img:nth-child(5) {
    animation-delay: .7s;
    width: 100px;
  }
  
  body.day .bubble img:nth-child(6) {
    animation-delay: 3.6s;
  }
  
  body.day .bubble img:nth-child(7) {
    animation-delay: 6s;
    width: 40px;
  }

/* About */

#about {

}

.about-header {
    text-align: center;
    margin-bottom: 10rem;
}

.about-header h1 {
    font-size: 4rem;
}

.about-content {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 5rem;
}

.about-content img {
    height: 400px;
    border: 5px solid #fff;
}

body.day .about-content img {
    border: 5px solid #00B0DC;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}


.about-content > div {
    margin-left: 5rem;
    background: #fff;
    color: #001018;
    padding: 3rem;
    position: relative;
    border: 5px solid #001018;
    box-shadow: 1px 1px 20px rgba(138, 137, 137, 0.411);
}

body.day .about-content > div  {
    border: 5px solid #00B0DC;
}

.about-content > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #626262;
    width: 575px;
    height: 400px;
    transform: rotate(5deg);
    border: 5px solid #fff;
    z-index: -1;
}

body.day .about-content > div::before {
    border: 5px solid #00B0DC;
}


.about-content > div h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-content > div p {
    line-height: 1.5;
    margin-bottom: 2rem;
}


.about-content > div a {
    color: #000;
    border: 1px solid #001018;
    padding: 1.2rem 2rem;
    margin-top: 1.2rem;
    transition: all .3s ease-in;
}

.about-content > div a:hover {
    background: #001018;
    color: #fff;
}


/* MY SERVICE */

#service {
    margin-top: 15rem;
}

.service-header {
    text-align: center;
    margin-bottom: 10rem;
}

.service-header h1 {
    font-size: 4rem;
}

.service-main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.service-main-box .service-box {
    margin: 2rem;
    border: 1px solid rgb(82, 80, 80);
    padding: 2rem;
    text-align: center;
    position: relative;
    background: #001018;
}

body.day .service-main-box .service-box {
    background: #00B0DC;
    border: 1px solid #00B0DC;
}

body.day .service-main-box .service-box {
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.service-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #626262;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(45deg);
    transition: all .5s ease-in;
}
 
body.day .service-box::before {
    background-color: #00b0dc44;
}

.service-main-box .service-box:hover::before {
    transform: rotate(360deg);
}

.service-main-box .service-box i {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.service-main-box .service-box h2 {
    margin-bottom: 1rem;
}

.service-main-box .service-box p {
    line-height: 1.5;
}

/* My Skills */

#skills {
    margin-top: 10rem;
}

.skills-header {
    text-align: center;
    margin-bottom: 10rem;
}

.skills-header h1 {
    font-size: 4rem;
}

.skills-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

.skills-content .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b,#222,#1b1b1b);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: all .5s ease-in;
}

.skills-content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.skills-content .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
    pointer-events: none;
    z-index: 100;
    transition: all .6s ease-in;
}

.skills-content .card:hover::before {
    top: -100%;
}

.parcent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 200;
}

.parcent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.parcent .number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: .7s;
}

.card:hover .parcent .number h2 {
    color: #fff;
    font-size: 60px;
}

.parcent .number h2 > span {
    font-size: 24px;
    color: #777;
    transition: all .7s ease-in;
}

.card:hover .parcent .number h2 > span {
    color: #fff;
}

.text {
    position: relative;
    margin-top: 2rem;
    color: #777;
    transition: all .7s ease-in;
}

.card:hover .text {
    color: #fff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 10;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke: #00ff43;
}

body.day .card:nth-child(1) svg circle:nth-child(2) {
    stroke: #00B0DC;
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke: #00ff43;
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
}

body.day .card:nth-child(2) svg circle:nth-child(2) {
    stroke: #00B0DC;
}


.card:nth-child(3) svg circle:nth-child(2) {
    stroke: #00ff43;
    stroke-dashoffset: calc(440 - (440 * 10) / 100);
}

body.day .card:nth-child(3) svg circle:nth-child(2) {
    stroke: #00B0DC;
}



/* Projects */

#projects {
    margin-top: 10rem;
}

.projects-header {
    text-align: center;
    margin-bottom: 7rem;
}

.projects-header h1 {
    font-size: 4rem;
}

.projects-main-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects-main-box .projects-box {
    height: 400px;
    width: 300px;
    border: 5px solid #fff;
    border-radius: 7px;
}

body.day .projects-main-box .projects-box {
    border: 5px solid #00B0DC;
}

.projects-main-box .projects-box .card {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

.projects-main-box .projects-box:hover .card {
    transform: rotateY(180deg);
}

.projects-main-box .projects-box .card section {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 3rem;
}

.projects-main-box .projects-box .card section h1 {
    margin-bottom: 3rem;
}

.projects-main-box .projects-box .card section p {
    font-weight: normal;
    line-height: 1.4;
}

.projects-main-box .projects-box .card section a {
    background: #fff;
    color: #000;
    padding: .75rem;
    border-radius: 7px;
    transition: background .3s ease-in-out;
}

.projects-main-box .projects-box .card section a:hover {
    background: rgb(187, 187, 187);
}


.projects-main-box .projects-box .card .front {
    background: rgba(0, 0, 0, 1);
    color: #fff;
}

.projects-main-box .projects-box .card .back {
    background: rgb(0, 0, 0);
    color: #fff;
    transform: rotateY(180deg);
}

/* Contact */

#contact {
    margin-top: 10rem;
}

.contact-container {
    max-width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
}


.contact-header {
    text-align: center;
    margin-bottom: 10rem;
}

.contact-header h1 {
    font-size: 4rem;
}

.contact-form {
    margin-bottom: 5rem;
}

.contact-form .input input {
    width: 100%;
    margin-bottom: 2rem;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    color: #777;
    font-size: 1.1rem;
}

.contact-form .textarea textarea {
    width: 100%;
    margin-bottom: 2rem;
    height: 80px;
    background: none;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    color: #777;
    font-size: 1.5rem;
    transition: all .5s ease-in;
}

::placeholder {
    transition: all .5s ease-in;
}

:hover::placeholder {
    transform: translateY(-25px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.contact-form .submit input {
    width: 20%;
    height: 40px;
    background: none;
    border: 1px solid #777;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 7px;
    transition: all .5s ease-in;
}

body.day .contact-form .submit input {
    color: #000;
    opacity: .7;
}

.contact-form .submit input:hover {
    background: #fff;
    color: #001018;
    transform: translateY(-7px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.contact-address {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.contact-address .address {
    text-align: center;
}

.contact-address .address i {
    margin-bottom: 2rem;
    font-size: 2rem;
    opacity: .7;
}

.contact-address .address h3 {
    font-weight: normal;
    opacity: .7;
    margin-bottom: 1rem;
}

.contact-address .address p {
    opacity: .7;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media i {
    font-size: 1.3rem;
    background: none;
    padding: 1rem;
    transition: all .2s ease-in;
}

.social-media i:hover {
    background: #fff;
    border-radius: 5px;
    color: #000;
    transform: rotate(360deg);
}

body.day .social-media i {
    color: #000;
    transition: all .2s ease-in;
    opacity: .7;
}

body.day .social-media i:hover {
    background: #000;
    border-radius: 5px;
    color: #fff;
    transform: rotate(360deg);
    opacity: .7;
}


/* footer */

footer {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
    font-family: 'Vampiro One', cursive;
}

footer p {
    opacity: .7;
    letter-spacing: .3rem;
    font-weight: normal;
}

/* Media Query */

@media (max-width: 832px) {
    .header-content h1 {
        font-size: 5rem;
    }
}

@media (max-width: 705px) {
    .header-content h1 {
        font-size: 4rem;
    }
}

@media (max-width: 577px) {
    .header-content h1 {
        font-size: 3rem;
    }

    .header-content p {
        margin-top: 1.5rem;
    }
}



@media (max-width: 748px) {

    .header-content {
        margin-top: 5rem;
    }

    #navbar {
        flex-direction: column;
    }

    .logo img {
        margin-bottom: 2rem;
    }
}

@media (max-width: 603px) {
    .nav-content ul {
        flex-direction: column;
    }

    .nav-content ul li {
        margin: .55rem 0;
    }
}

@media (max-width: 1243px) {
    .about-content {
       flex-direction: column;
    }

    .about-content img {
        margin-bottom: 2rem;
    }

    .about-content > div {
        margin-left: 0;
    }
   
}

@media (max-width: 1243px) {
    .about-content > div::before {
        display: none;
    }

    #service {
        margin-top: 5rem;
    }
}

@media (max-width: 593px) {
    .about-content img {
        height: 380px;
    }
}

@media (max-width: 569px) {
    .about-content img {
        height: 370px;
    }
}

@media (max-width: 542px) {
    .about-content img {
        height: 350px;
    }
}

@media (max-width: 527px) {
    .about-content img {
        height: 340px;
    }
}

@media (max-width: 521px) {
    .about-content img {
        height: 330px;
    }
}

@media (max-width: 500px) {
    .about-content img {
        height: 320px;
    }
}

@media (max-width: 478px) {
    .about-content img {
        height: 300px;
    }
}

@media (max-width: 457px) {
    .about-content img {
        height: 280px;
    }
}

@media (max-width: 430px) {
    .about-content img {
        height: 260px;
    }
}

@media (max-width: 405px) {
    .about-content img {
        height: 240px;
    }
}

@media (max-width: 379px) {
    .about-content img {
        height: 230px;
    }
}

@media (max-width: 364px) {
    .about-content img {
        height: 220px;
    }
}

@media (max-width: 352px) {
    .about-content img {
        height: 210px;
    }
}

@media (max-width: 1426px) {
    #main-header {
        margin-bottom: 12rem;
    }
    
}

@media (max-width: 1105px) {
    #main-header {
        margin-bottom: 8rem;
    }
}

@media (max-width: 982px) {
    #main-header {
        margin-bottom: 5rem;
    }
}

@media (max-width: 380px) {
    .about-header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 1103px) {
    .service-box::before {
        display: none;
    }
}

@media (max-width: 725px) {
    .service-main-box {
        flex-direction: column;
        margin-bottom: 0;
    }

    #skills {
        margin-top: 5rem;
    }
    
}

@media (max-width: 426px) {
    .service-header h1 {
        font-size: 3rem;
    }
    
}

@media (max-width: 859px) {
    .skills-content {
        flex-direction: column;
    }

    .skills-content .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 379px) {
    .skills-header h1 {
        font-size: 3rem;
    }
    
}

@media (max-width: 994px) {
    .projects-main-box {
        flex-direction: column;
    }

    .projects-main-box .projects-box {
        margin-bottom: 20px;
    }

    #projects {
        margin-top: 5rem;
    }

}

@media (max-width: 569px) {
    .projects-header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 620px) {
    .contact-address {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .contact-address .address {
        margin-bottom: 2rem;
    }
    
    
}

@media (max-width: 656px) {
    footer {
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
}